#news-box {
  background-color: #fff;
}

.news-item {
  position: relative;
  margin: 0 0.453333rem;
  height: 2.6rem;
  border-bottom: 0.013333rem solid #ebeaea;
  overflow: hidden;
}

.news-item img {
  position: absolute;
  right: 0;
  top: 0.333333rem;
  width: 2.533333rem;
  height: 1.866667rem;
  border-radius: 0.106667rem;
}

.news-item h2 {
  margin-top: 0.333333rem;
  width: calc(100% - 2.88rem);
  line-height: 0.586667rem;
  max-height:1.173333rem;
  word-break:break-all;
  font-size: 0.4rem;
  color: #333333;
  min-height: 1.2rem;
  overflow:hidden;
}

.news-item p {
  width: calc(100% - 2.88rem);
  line-height: 1.066667rem;
  font-size: 0.32rem;
  color: #666;
}

.news-item p .time {
  position: relative;
  top: -0.013333rem;
  margin-left: 0.533333rem;
  font-size: 0.293333rem;
}

.news-item p .pv {
  position: relative;
  float: right;
  font-size: 0.293333rem;
}

.news-item p .pv:before {
  content: '';
  position: absolute;
  left: -0.573333rem;
  top: 0.333333rem;
  display: inline-block;
  width: 0.426667rem;
  height: 0.426667rem;
  background: url(../img/news/icon_eyes.png) 0 0 / 100% 100% no-repeat;
}

/*资讯详情页样式*/
#newsdetail #title {
  margin-top: 0.453333rem;
  padding:0 0.28rem;
  text-align: center;
  line-height: 0.533333rem;
  font-weight: bold;
  font-size: 0.4266667rem;
  color: #000000;
}

#newsdetail p {
  margin-bottom:0.0533334rem;
  text-align: center;
  line-height: 0.866667rem;
  font-size: 0.32rem;
  color: #999;
}

#newsdetail p em#author {
  margin-right: 0.533333rem;
}

#newsdetail article {
  margin: 0 0.453333rem 0.8rem 0.453333rem;
}

#newsdetail article{
  background-color:transparent!important;
  text-align: justify!important;
  line-height: 0.8rem!important;
  font-size: 0.4rem!important;
  color: #000!important;
}

#newsdetail article * {
  background-color:transparent!important;
  text-align: justify!important;
  line-height: 0.8rem!important;
  font-size: 0.4rem!important;
  color: #000!important;
}

#newsdetail article p {
  margin-bottom:0.5333333rem;
}

#newsdetail article img {
  margin: 0.053333rem 0!important;
  width: 100%!important;
  height:auto!important;
}

#newsdetail article a {
  color:#188eee!important;
}
