weituoAuction-box {
  overflow: hidden;
}

#weituoBox {
  margin: 0.8rem auto 0 auto;
  width: 9.093333rem;
  min-height: 7.08rem;
  background: #ffffff;
  border: 0.026667rem solid #d9d9d9;
  border-radius: 0.106667rem;
}

#weituoBox #weituoQuan {
  margin: auto;
  width: 8.213333rem;
  height: 0.933333rem;
  line-height: 0.933333rem;
  border-bottom: 0.026667rem solid #d9d9d9;
}

#weituoBox #weituoQuan h2 {
  float: left;
  font-size: 0.373333rem;
  color: #999999;
  letter-spacing: 0.0208rem;
}

#weituoBox #weituoQuan p {
  float: right;
  font-size: 0.373333rem;
  color: #666666;
  letter-spacing: 0.0208rem;
}

#weituoBox #weituoQuan p.nocard {
  color: #999;
}

#weituoBox #weituo-price {
  margin: auto;
  width: 8.213333rem;
  height: 2.48rem;
  border-bottom: 0.026667rem solid #d9d9d9;
}

#weituoBox #weituo-price h2 {
  padding-top: 0.453333rem;
  height: 0.533333rem;
  line-height: 0.533333rem;
  font-size: 0.373333rem;
  color: #666666;
  letter-spacing: 0.0208rem;
}

#weituoBox #weituo-price input {
  float: left;
  margin-top: 0.093333rem;
  width: calc(100% - 0.466667rem);
  height: 1.333333rem;
  line-height: 1.333333rem;
  font-size: 0.88rem;
  color: #333333;
  letter-spacing: 0;
  overflow: hidden;
}

#weituoBox #weituo-price em {
  float: left;
  margin-top: 0.093333rem;
  display: inline-block;
  width: 0.466667rem;
  height: 1.333333rem;
  text-align: left;
  line-height: 1.333333rem;
  font-size: 0.64rem;
  color: #333333;
  letter-spacing: 0.0356rem;
}

#weituoBox #weituo-gain {
  margin: auto;
  width: 8.213333rem;
}

#weituoBox #weituo-gain h2 {
  padding-top: 0.32rem;
  height: 0.533333rem;
  line-height: 0.533333rem;
  font-size: 0.373333rem;
  color: #666666;
  letter-spacing: 0.0208rem;
}

#weituoBox #weituo-gain p {
  padding-top: 0.56rem;
  height: 1.333333rem;
  text-align: center;
  line-height: 1.333333rem;
  font-size: 0.426667rem;
  color: #f72f2f;
}

#weituoBox #weituo-gain p span {
  display: block;
  width: 100%;
  font-size: 1.306667rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#weituoBox #weituo-gain p span em:nth-child(2) {
  font-size: 0.986667rem;
}

#weituoBox #weituo-gain p span i {
  font-size: 0.426667rem;
}

#weituoText {
  margin: 0 0.453333rem;
  line-height: 0.88rem;
  font-size: 0.32rem;
  color: #999999;
  letter-spacing: 0;
}

#weituoText .red {
  color: #ee332b;
}

#weituoText i {
  position: relative;
  top: 0.026667rem;
  right: 0;
  margin: 0 0.053333rem;
  display: inline-block;
  background: url(../img/sprite.png) no-repeat -12.813333rem -5.973333rem;
  background-size: 13.226667rem 11.946667rem;
  width: 0.32rem;
  height: 0.32rem;
}

#weituoAuction-box #weituo-submit {
  position: absolute;
  bottom: 0;
  margin: 1.33rem 0.45rem;
  width: 9.09rem;
  height: 1.07rem;
  text-align: center;
  line-height: 1.07rem;
  font-size: 0.4rem;
  color: #fff;
  background-color: #ee332b;
  border-radius: 0.08rem;
}

#weituoAuction-box #aggree-protocol {
  position: absolute;
  bottom: 2.4rem;
  width: 10rem;
  text-align: center;
}