<style>
    body{background:#efeff4; }
    #auctionerHouse {
        position: relative;
        width: 100%;
        height: 1.733333rem;
        background-color: #fff;
        line-height: 1.733333rem;
        overflow: hidden;
    }

    #auctionerHouse img {
        position: absolute;
        left: 0.453333rem;
        top: 0.463333rem;
        width: 3.6rem;
        height: .8rem;
    }

    .auctionerHouseDesc{ background: #efeff4;height: 1.8666666rem;}
    .auctionerHouseDesc p{
        padding-top: 0.293333rem;
        padding-left: 0.953333rem;
        line-height: 0.426667rem;
        font-size: 0.32rem;
        color: #333;
        position: relative;

    }
    .auctionerHouseDesc p:before {
        content: '';
        position: absolute;
        display: inline-block;
        background: url(../img/sprite.png) no-repeat -12.813333rem -5.386667rem;
        background-size: 13.226667rem 11.946667rem;
        width: .32rem;
        height: .32rem;
        top: 0.353333rem;
        left: 0.453333rem;
    }
    #newgoods-tab {
        position:relative;
        z-index:99;
        width: 10rem;
        height: 1.066667rem;
        background-color: #fff;
        border: 0.013333rem solid #f5f5f5;
    }
    #newgoods-tab .tabitem {
        float: left;
        width: 50%;
        height: 100%;
        text-align: center;
        line-height: 1.066667rem;
        font-size: 0.373333rem;
        color: #666666;
    }
    #newgoods-tab .pointer {
        position: absolute;
        left: 1rem;
        width: 3rem;
        bottom: 0.013333rem;
        display: inline-block;
        height: 0.08rem;
        border-radius: 0.04rem;
        background-color: #f72f2f;
    }
    #newgoods-tab .tabitem.on {
        color: #f72f2f;
    }
    .newgoods-content{
        background: #fff;
        font-size: 0.37333333rem;

    }
    #descBox{ padding:0.453333rem;}
    #descBox div{
        text-indent: 0.666666rem;
        margin-bottom: 0.453333rem ;
    }
    #descBox p{
        padding-top: 0.453333rem ;
        border-top: 1px solid #e7e7e7;
    }
    #descBox p em{color: #666;}

    #auctioner {
        position: relative;
        width: 100%;
        height: 1.733333rem;
        background-color: #fff;
        margin-bottom: 0.266667rem;
        border-bottom: 1px solid #e7e7e7;
        overflow: hidden;
    }

    #auctioner img {
        position: absolute;
        left: 0.453333rem;
        top: 0.333333rem;
        width: 1.066667rem;
        height: 1.066667rem;
    }

    #auctioner h2 {
        position: relative;
        margin-top: 0.306667rem;
        padding-left: 1.8rem;
        line-height: 0.453333rem;
        font-size: 0.373333rem;
        color: #333;
    }

    #auctioner h2 em {
        position: absolute;
        top: -0.013333rem;
        margin-left: 0.16rem;
        display: inline-block;
        width: 2.48rem;
        height: 0.453333rem;
        text-align: center;
        line-height: 0.453333rem;
        font-size: 0.32rem;
        color: #f72f2f;
        border: 1px solid #f72f2f;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    #auctioner p {
        margin-top: 0.293333rem;
        padding-left: 1.8rem;
        line-height: 0.426667rem;
        font-size: 0.32rem;
        color: #999;
    }
    #auctioner i{position: absolute;
        right: 0.45rem;
        top: 0.65rem;}
</style>
<div class="content" id="content">
    <div id="auctionlist-box">
        <div id="auctionerHouse">
            <img src="../img/goods/auctionHouseIcon.png">
        </div>
        <div class="auctionerHouseDesc">
            <p>已缴纳保证金</p>
            <p>国家批准拍卖资格的认证机构</p>
        </div>
        <div id="newgoods-tab">
            <div class="tabitem on" data-type="xstj">公司简介</div>
            <div class="tabitem" data-type="rmhh">拍卖师</div>
            <span class="pointer"></span>
        </div>
        <div id="newgoods-content">
            <div class="newgoods-content" id="descBox">
                <div>
                    天天拍卖行是一家具有综合拍卖能力的有限责任公司。公司一直坚持以“客户为中心”，
                    秉承诚实守信、合法合规的经营理念。业务运作严格遵守国家法律、法规及拍卖业的各项规定。
                    遵循“公开、公平、公正”的原则。公司有严格的管理程序、操作规程，以及经验丰富的拍卖师及拍卖从业人员，
                    有能力承担广大客户委托本公司的各项拍卖事务。我们期待与更多的朋友建立起长期、广泛、深入、紧密的合作关系。
                </div>
                <p>
                    <em>公司地址</em>：北京市朝阳区<br>
                    <em>联络人</em>：戴先生<br>
                    <em>联系电话</em>：400-081-6066<br>
                </p>
            </div>
            <div class="newgoods-content" style="display:none;">
                <div id="auctioner" data-id="104">
                    <img src="https://jp.ruirun123.cn/info/a1756661463b44228b59e3a26958645b.png" id="auctionerHousePic">
                    <h2><span class="auctionerHouseName">王小克</span><em>中国执业拍卖师</em></h2>
                    <p>拍卖师编号<em class="auctionerHouseNo">010110</em></p>
                    <i class="icon-mine13"></i>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    T.auctionerHouse = (function(){
        var tabList = {'xstj':1,'rmhh':2};//tab列表
        var o = {
            //程序入口
            init:function(){
                o.bindEvent();
            },
            //事件绑定
            bindEvent:function(){
                $("#newgoods-tab .tabitem").off().Touch(function(el){
                    if($(el).hasClass("on")){return;}
                    var type = $(el).attr("data-type");
                    o.tabSwitch(type);
                });
                $("#auctioner").off().Touch(function(el){
                    $("html,body").removeClass("white");
                    var auctionerObj={'pic':$(el).find('img').attr('src'),'name':$(el).find('.auctionerHouseName').html(),'NO':$(el).find('.auctionerHouseNo').html(),'ID':$(el).attr('data-id')};
                    T.Storage.set('auctionerInfo',auctionerObj);
                    window.location.href = T.Util.getRootPath()+'/'+Global.webRoot+'/view/go.html#page=auctioner.html&id='+$(el).attr('data-id');
                });
            },
            //tab切换
            tabSwitch:function(type){
                var index = tabList[type];
                $("#newgoods-tab .tabitem").eq(index-1).addClass("on").siblings().removeClass("on");
                $(".pointer").animate({"left":(5 * (index-1) + 1) + "rem"});
                $(".newgoods-content").eq(index-1).show().siblings().hide();
                if(index==1){
                    $("html,body").removeClass("white");
                }else{
                    $("html,body").addClass("white");
                }
            }
        }
        return {
            init:o.init
        }
    })();
    $(document).ready(function () {
        T.auctionerHouse.init();
    });
</script>


