<style>
    body{background:#ffffff; }
    #rule-box{margin: 0 0.4533333333rem;color:#666666;font-size: 0.37333333rem;}
    #rule-box h2{font-size: .4rem;margin-top:0.5866666rem;margin-bottom:0.2866666rem;}
    #rule-box div{line-height: 0.5866666666rem;position: relative;padding-left: .3rem;}
    #rule-box div em{position: absolute;top:0;left: -.1rem;}
</style>
<div class="content" id="content">
    <div id="rule-box">
        <h2>规则说明</h2>
        <div><em>1.</em>发货时间一般为付款后3天内，如遇到特殊情况，会有延迟；</div>
        <div><em>2.</em>购物币是该商品在拍卖中所消耗的拍币X该商品拍卖过程中实时的退币比例；</div>
        <div><em>3.</em>实付总额=商品总额+配送费—购物币；</div>
        <div><em>4.</em>如有相关疑问，可致电客服：400-0816066。</div>
    </div>
    <div class="clearboth"></div>
</div>
<script type="text/javascript">
    T.cjgRule = (function(){

        var o = {
            //程序入口
            init:function(){

            }
        }
        return {
            init:o.init
        }
    })();
    $(document).ready(function () {
        T.cjgRule.init();
    });
</script>



