<style>
    body{background:#ffffff; }
    #rule-box{margin: 0 0.4533333333rem;color:#666666;font-size: 0.37333333rem;}
    #rule-box h2{font-size: .4rem;margin-top:0.5866666rem;margin-bottom:0.2866666rem;}
    #rule-box div{line-height: 0.5866666666rem;position: relative;padding-left: .3rem;}
    #rule-box div em{position: absolute;top:0;left: -.1rem;}
</style>
<div class="content" id="content">
    <div id="rule-box">
        <h2>新手专享规则说明</h2>
        <div><em>1.</em>新手专享的商品，每个自然人仅可限拍一件；</div>
        <div><em>2.</em>同一手机设备、同一身份证号码、同一手机号码、同一用户ID等，符合其中任一条件视为同一自然人；</div>
        <div><em>3.</em>如存在恶意的刷单、使用非法手段作弊的用户，平台将有权取消资格，或要求用户提供认证信息进行核实，包括不限于提供手持身份证信息照片或视频等信息，惩罚并收回不利所得的商品。</div>
        <div><em>4.</em>本平台有最终解释权，如有任何问题请联系客服处理。</div>
    </div>
    <div class="clearboth"></div>
</div>
<script type="text/javascript">
    T.cjgRule = (function(){

        var o = {
            //程序入口
            init:function(){

            }
        }
        return {
            init:o.init
        }
    })();
    $(document).ready(function () {
        T.cjgRule.init();
    });
</script>



